body {
    background: black;
}

.beep-col {
    flex: auto;
    width: 100%;
    flex-direction: column;
    display: flex;
}

div.beep {
    padding: 2px;
    flex: auto;
    height: 100%;


}

div.beep-inner {
    height: 100%;
    width: 100%;
    /* background: rgb(41, 41, 41); */
    border: #73541a 1px solid;
    border-radius: 2px
}
.beep-col.odd div.beep-inner{
    /* background: rgb(61, 61, 61); */
    border: #463d2d 1px solid;
}

.beep-col.odd div.beep-inner:hover, .beep-col div.beep-inner:hover{
    border-color: orange !important;
}

.beep-col div.beep-inner.active {
    /* background: rgba(255, 177, 118, 0.24); */
    border-color: orange !important;

}

.beep-col div.beep-inner.on {
    background: orange;
    background: url('beep.png');
    background-size: 66px;
    box-shadow: orange 0px 0px 11px 1px;
}

.beep-col div.beep-inner.on.active {
    background: rgb(255, 231, 186);
}

.beep.active,
body .beep.active p {
    color: chartreuse;
}

.clearboth {
    clear: both;
    height: 1px;
}

.pull-right{float:right;}



/*
d888888b  .d88b.   .d88b.  db      d8888b.  .d8b.  d8888b. 
`~~88~~' .8P  Y8. .8P  Y8. 88      88  `8D d8' `8b 88  `8D 
   88    88    88 88    88 88      88oooY' 88ooo88 88oobY' 
   88    88    88 88    88 88      88~~~b. 88~~~88 88`8b   
   88    `8b  d8' `8b  d8' 88booo. 88   8D 88   88 88 `88. 
   YP     `Y88P'   `Y88P'  Y88888P Y8888P' YP   YP 88   YD 

*/
body .appbar {
    background: #0c0c0ccc;
    color: orange;
    border-bottom: 1px solid #1f1f1f;
    display:block;
    
}

body .toolbar {
    min-height: 52px;
    display: block;
    position: relative;
}

body .toolbar .playstop {
    width: 118px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

body .toolbar .tempo-slider{
    width: 342px; position: absolute; top: 0; right: 24px;

}
body .toolbar .tempo-slider p{
    position: absolute;
    color: #606265;
    left: 0;
    top: 18px;
}
body .toolbar .tempo-slider .slider{
    position: absolute;
    right: 0;
    top: 16px;
}



body .playstop svg {
    font-size: 32px;
    padding: 9px;
}
body .playstop span{
    padding: 4px;
    /* display: inline-block; */
}


.main {

    margin: 59px auto 0 auto;
    width: inherit;
    position: fixed;
    top: 0;
    bottom: 25%;
    left: 7px;
    right: 7px;
    display: flex;
}

.ptest{clear:both; color: orangered; display: none;}

.orange-text{color: orange;}



/* 
 .o88b.  .d88b.  d8b   db d888888b d8888b.  .d88b.  db      .d8888. 
d8P  Y8 .8P  Y8. 888o  88 `~~88~~' 88  `8D .8P  Y8. 88      88'  YP 
8P      88    88 88V8o 88    88    88oobY' 88    88 88      `8bo.   
8b      88    88 88 V8o88    88    88`8b   88    88 88        `Y8b. 
Y8b  d8 `8b  d8' 88  V888    88    88 `88. `8b  d8' 88booo. db   8D 
 `Y88P'  `Y88P'  VP   V8P    YP    88   YD  `Y88P'  Y88888P `8888Y' 
*/

body .slider {
    clear: both;
    padding: 12px 0;
    width: 250px;
    touch-action: none;
}

.controls {
    width: 250px;
    margin: auto;  
    position: fixed;
    top: 53px;
    left: 0;
    bottom: 0;
    padding: 0 22px;
    background: #090909;
    transition: margin-left 200ms ease-in-out;
    z-index: 1000;
    border-right: 1px solid #231e16;
}

.icon {
    fill: orange;
}

body .slider p {
    color: #737373;
}


.controls.open{
    display:block;
    margin-left: 0;
}
.controls.closed{
    display:block;
    margin-left: -330px;
}
.main.show-controls{
    padding-left: 296px;
    transition: padding-left 200ms ease-in-out;
}

.controls .toolbar{
    color:orange;
    padding: 5px 12px 8px 0;
    border-bottom: 1px solid #252525;
    overflow: hidden;
    margin: 0 -22px;
    min-height: 24px;
}

/*
KEYS
*/
#keyboard-wrapper{
    position: fixed;
    top: 75%;
    left: 7px;
    right: 7px;
    bottom: 7px;
}
#keyboard{clear: both; width: 100%; height: 100%; display:flex;}
#keyboard .key{width: 100%; height: 100%;  display: inline-block;  }
#keyboard .key .beep-inner{width: 100%; height: 100%;  background-image: url("images/5-reg.png");  }
#keyboard .key .beep-inner:hover{background-image: url("images/5-active.png");  }
#keyboard .key .beep-inner.active{background-image: url("images/bg-press2.png");  }

#keyboard-wrapper.show-controls{
    margin-left: 296px;
    transition: padding-left 200ms ease-in-out;
}

.icon:hover{ opacity: .8; cursor: pointer;}
.settings-icon svg{transition: transform .5s;}
.settings-icon:hover svg{transform: rotate(180deg);}